@import "bootstrap.less";
@import "variables.less";


@font-face {
  font-family: 'PT Serif';
  font-style: normal;
  font-weight: 400;
  src: local('PT Serif'), local('PTSerif-Regular'), url(https://fonts.gstatic.com/s/ptserif/v8/fU0HAfLiPHGlZhZpY6M7dPesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
}
@font-face {
  font-family: 'PT Serif';
  font-style: normal;
  font-weight: 700;
  src: local('PT Serif Bold'), local('PTSerif-Bold'), url(https://fonts.gstatic.com/s/ptserif/v8/QABk9IxT-LFTJ_dQzv7xpBLwxQbNcFnuWuPk3YnjToI.woff2) format('woff2');
}
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  src: local("Raleway-Regular"), local("Raleway-Regular"), url(../fonts/Raleway-Regular.ttf);
}
@font-face {
  font-family: "Raleway-Black";
  font-style: normal;
  font-weight: 400;
  src: local("Raleway-Black"), local("Raleway-Black"), url(../fonts/Raleway-Black.ttf);
}


@media (min-width: @screen-sm-min) {
  body {
    font-size: 15px;
  }
}
@media (min-width: @screen-md-min) {
  body {
    font-size: 16px;
  }
}
.border-link {
  border-bottom: 1px solid @brand-primary;
  &:hover,
  &:focus {
    border-bottom: 1px solid @link-hover-color;
  }
}
a {
  -webkit-transition: color 0.3s 0s linear,
                      border-bottom-color 0.3s 0s linear;
  -moz-transition: color 0.3s 0s linear,
                    border-bottom-color 0.3s 0s linear;
  -o-transition: color 0.3s 0s linear,
                  border-bottom-color 0.3s 0s linear;
  transition: color 0.3s 0s linear,
              border-bottom-color 0.3s 0s linear;
}
.main {
  a {
    .border-link;
  }
}
.btn {
  font-family: @font-family-raleway-black;
  -webkit-transition: background 0.5s 0s linear,
                      border 0.5s 0s linear,
                      color 0.5s 0s linear;
  -moz-transition: background 0.5s 0s linear,
                  border 0.5s 0s linear,
                  color 0.5s 0s linear;
  -o-transition: background 0.5s 0s linear,
                  border 0.5s 0s linear,
                  color 0.5s 0s linear;
  transition: background 0.5s 0s linear,
              border 0.5s 0s linear,
              color 0.5s 0s linear;
}
form {
  .btn {
    width: 100%;
    font-size: 22px;
    padding-top: (@padding-base-vertical * 3);
    padding-bottom: (@padding-base-vertical * 3);
  }
}
h1, h3 {
  text-transform: uppercase;
}
@media (min-width: @screen-md-min) {
  h1 {
    font-size: @font-size-h1 * 1.5; //~36px
  }
  h2 {
    font-size: @font-size-h1; // ~24px;
  }
}
ol {
  padding-left: 15px;
  li {
    padding-left: 10px;
    margin-bottom: (@line-height-computed / 2);
  }
}
.content {
  ul {
    padding-left: 0;
    li {
      margin-bottom: (@line-height-computed / 2);
      list-style-type: none;
      text-indent: -20px;
      padding-left: 25px;
      &:before {
        color: @brand-primary;
        content: "•";
        padding-right: 15px;
      }
    }
  }
}
table {
  > thead,
  > tbody,
  > tfoot {
    > tr {
      > th,
      > td {
        padding: @table-cell-padding;
      }
    }
  }
}
html, body, .layout {
  height: 100%;
}
.page-content {
  @media (min-width: @screen-sm-min) {
    min-height: 100%;
    padding-bottom: 74px;
  }
}
                                                  /*Navigation*/
.navbar-brand {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2000;
  width: 116px;
  height: 105px;
  img {
    .img-responsive;
  }
}
.navbar-header {
  position: absolute;
  top: 0;
  right: 15px;
  z-index: 1000;
}
.navbar-toggle {
  margin-top: 5px;
}
.header-info {
  float: right;
  width: 100%;
  padding-right: 15px;
  text-align: right;
}
.header-contact {
  padding-right: 52px;
}
.main-header {
  .header-contact {
    margin: 10px 0 16px;
  }
}
.text-header {
  .header-contact {
    margin: 10px 0 8px;
  }
}
.inner-page-header {
  .header-contact {
    margin: 10px 0 11px;
  }
}
.tel {
  padding-right: 30px;
  margin-bottom: 7px;
}
.user-panel-link {
  font-size: 12px;
  padding: 4px 8px;
}
.text-header {
  border-bottom:  3px solid @brand-primary;
}
.inner-header-spec-menu {
  margin-bottom: 9px;
}
.inner-header-spec-menu {
  a {
    font-family: @font-family-raleway;
    border-radius: @border-radius-base;
    padding: 3px 7px;
  }
}
.business-link {
  color: #37334b;
  &.active {
    color: #fff;
    background: @purpur-navy-color;
  }
}
.person-link {
  &.active {
    color: #fff;
    background: @brand-primary;
  }
}
.main-header {
  .navbar-collapse {
    padding-top: 25px;
  }
}
.inner-header {
  .navbar-collapse {
    padding-top: 3px;
  }
}
.inner-page-header {
  .navbar-collapse {
    padding-top: 0;
  }
}
.navbar-nav {
  > li {
    border-bottom: 1px solid #e6e6e6;
  }
}
@media (min-width: @screen-sm-min) {
  .tel {
    padding-right: 15px;
    margin-top: 3px;
  }
  .header-contact {
    padding-right: 15px;
  }
  .main-header {
    .header-contact {
      margin-bottom: 0;
    }
  }
  .inner-header {
    .header-contact {
      float: right;
      margin-bottom: 0;
    }
    .inner-header-spec-menu {
      float: right;
      padding-left: 3px;
      padding-right: 0;
    }
  }
  .inner-header-spec-menu {
    text-align: left;
    margin-top: 13px;
    margin-bottom: 12px;
  }
  .navbar-collapse {
    float: right;
    width: 80%;
    margin-bottom: 10px;
  }
  .main-header {
    .navbar-collapse {
      padding-top: 0;
    }
  }
  .navbar-nav {
    float: right;
    > li {
      border: none;
      a {
        padding: 5px 10px;
        border-radius: @border-radius-small;
      }
    }
  }
}
@media (min-width: 820px) {
  header {
    nav {
      .container {
        position: relative;
      }
    }
  }
}
@media (min-width: @screen-md-min) {
  .inner-header {
    .header-contact {
      float: none;
    }
  }
  .inner-header-spec-menu {
    position: absolute;
    left: 140px;
    margin-top: 0;
    margin-bottom: 0;
    a {
      display: block;
      &.business-link {
        width: 73px;
        margin-top: 10px;
      }
      &.person-link {
        width: 98px;
        margin-top: 3px;
      }
    }
  }
}
@media (min-width: @screen-sm-min) and  (max-width: @screen-md-max) {
  .user-panel-link {
    margin-right: 10px;
  }
}
@media (min-width: @screen-lg-min) {
  .header-info {
    width: 26%;
  }
  .navbar-collapse {
    width: 74%;
  }
  .main-header {
    .navbar-collapse {
      margin-top: 10px;
    }
  }
  .inner-page-header {
    .navbar-collapse {
      margin-top: 10px;
    }
  }
  .text-header {
    .navbar-collapse {
      margin-top: 7px;
    }
  }
  nav {
    padding: 15px 0;
  }
  .navbar-brand {
    top: -15px;
  }
  .inner-header-spec-menu {
    top: -15px;
  }
}/*End Navigation*/
                                                          /*Header*/
.header-content {
  padding: 50px 0;
  color: #fff;
  position: relative;
}
.header-main {
  background: #5f102e url(../images/bg-1.jpg) no-repeat center top;
  background-size: cover;
}
.header-bussiness {
  background: #2d2f47 url(../images/bg-business.jpg) no-repeat center top;
  background-size: cover;
}
.header-person {
  background: #8e0829 url(../images/bg-person.jpg) no-repeat center top;
  background-size: cover;
}
.header-main-title {
  color:#fff;
  font-family: "Raleway-Black", Helvetica, Arial, sans-serif;
  font-size: 24px;
  line-height: 1.2;
  text-transform: uppercase;
  margin: 5px 0;
  @media (min-width: @screen-md-min) {
    font-size: 36px;
  }
}
.header-main-subtitle {
  color:#fff;
  font-family: "Raleway", Helvetica, Arial, sans-serif;
  font-size: 16px;
  margin-bottom: 15px;
  @media (min-width: @screen-md-min) {
    font-size: 20px;
    margin-bottom: 25px;
  }
}
.header-main-spec-menu {
  margin-bottom: 40px;
  .btn {
    color: #fff;
    font-family: @font-family-raleway;
    border-width: 2px;
    margin-right: 10px;
  }
}
.header-main-text {
  font-family: @font-family-raleway;
}
.header-main-tel {
  margin-bottom: 25px;
  a {
    color: #fff;
    font-size: 36px;
  }
}
.message-form {
  margin: 0 0 15px;
  .form-group {
    margin-bottom: 8px;
  }
  .help-block {
    color: #fff;
    font-family: @font-family-raleway;
    margin-top: -5px;
  }
  .btn {
    font-size: 18px;
  }
}
.main-header {
  .message-form {
    margin: 10px 0 15px;
  }
}
@media (min-width: @screen-sm-min) {
  .header-main-right {
    padding-top: 3px;
  }
  .header-main-tel {
    a {
      font-size: 38px;
    }
  }
  .message-form {
    .row {
      .col-sm-12:nth-of-type(1) {
        padding-right: 5px;
      }
      .col-sm-12:nth-of-type(2) {
        padding-left: 5px;
      }
    }
  }
}
@media (min-width: @screen-md-min) {
  .header-content {
    padding: 80px 0 100px;
  }
  .header-main-spec-menu {
    .btn {
      font-size: 18px;
    }
  }
  .message-form {
    .btn {
      font-size: 22px;
      margin-top: 5px;
    }
  }
}
@media (min-width: @screen-lg-min) {
  .header-main-right {
    padding-left: 40px;
  }
  .message-form-wrapper {
    .col-lg-17 {
      padding-right: 8px;
    }
    .col-lg-7 {
      padding-left: 8px;
    }
  }
  .message-form-note {
    margin-top: 7px;
  }
}/*End Header*/
                                                    /*Footer*/
footer {
  color: @navy-color;
  padding: 20px 0;
  @media (min-width: @screen-sm-min) {
    height: 74px;
    margin-top: -74px;
  }
  &.text-page-footer {
    border-top: 1px solid #ccccd2;
  }
}
.footer-brand, .footer-address, .footer-user-panel a {
  font-size: 12px;
}
.footer-tel a {
  font-size: 16px;
}
.footer-brand {
  margin-bottom: 30px;
}
.footer-address {
  margin: 5px 0;
}
@media (min-width: @screen-sm-min) {
  footer {
    .row {
      > div {
        padding: 0;
      }
    }
  }
  .footer-brand {
    font-size: 14px;
  }
  .footer-brand, .footer-address {
    margin: 7px 0 0;
  }
  .footer-address {
    text-align: center;
  }
  .footer-tel {
    margin: 4px 0 0;
  }
}
@media (min-width: @screen-md-min) {
  .footer-user-panel a, .footer-address,  {
    font-size: 14px;
  }
  .footer-tel {
    margin: 0;
    a {
      font-size: 24px;
    }
  }
}/*End Footer*/
.text-page {
  padding: 10px 0 80px;
  @media (min-width: @screen-md-min) {
    padding: 40px 0 140px;
  }
}
.content {
  max-width: 834px;
}
thead {
  border-bottom: 2px solid @table-border-color;
}
                                                            /*Main-Page*/
.main {
  section {
    padding: 40px 0;
    @media (min-width: @screen-sm-min) {
      padding: 55px 0;
    }
    @media (min-width: @screen-md-min) {
      padding: 70px 0;
    }
  }
}
.main-page-title {
  font-family: @font-family-raleway-black;
  font-size: @font-size-h1;
  line-height: 1.1;
  text-transform: uppercase;
  margin-bottom: @line-height-computed * 1.5;
  @media (min-width: @screen-md-min) {
    font-size: @font-size-h1 * 1.5;
    margin-bottom: @line-height-computed * 2.5;
  }
}
.main-page-subtitle {
  color: @navy-color;
  font-family: @font-family-raleway-black;
  font-size: @font-size-h3;
  line-height: 1.3;
  text-transform: uppercase;
}
.square-icon {
  &:before {
    content: "";
    display: block;
    width: 11px;
    height: 11px;
    background: @brand-primary;
    position: absolute;
    top: 4px;
    left: 0;
    color: #fff;
    font-family: @font-family-base;
    text-align: center;
  }
}
.article-item {
  margin-bottom: 30px;
  @media (min-width: @screen-sm-min) {
    margin-bottom: 40px;
  }
  @media (min-width: @screen-md-min) {
    margin-bottom: 50px;
  }
  .main-page-subtitle {
    position: relative;
    margin-bottom: 10px;
  }
}
.article-text {
  color: #706f6f;
  font-size: 13px;
  @media (min-width: @screen-md-min) {
    font-size: 16px;
  }
}
.stages {
  .main-page-title {
    color: @purpur-navy-color;
  }
  .main-page-subtitle {
    .square-icon;
  }
  .article-item {
    > div {
      padding-left: 22px;
    }
  }
}
.stages-list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}
.mka {
  background: @purpur-navy-color url(../images/bg-2.jpg) no-repeat center top;
  background-size: cover;
  .main-page-title {
    color: #fff;
  }
  color: #fff;
  p.quote {
    position: relative;
    font-size: 18px;
    padding-left: 22px;
    .square-icon;
  }
  @media (min-width: @screen-md-min) {
    p {
      font-size: 18px;
    }
    p.quote {
      font-size: 24px;
    }
  }
  .btn {
    width: 100%;
    max-width: 320px;
    padding-top: @padding-base-vertical*2;
    padding-bottom: @padding-base-vertical*2;
    font-size: 18px;
    margin-top: 20px;
  }
}
.mka-text {
  @media (min-width: @screen-sm-min) {
    max-width: 500px;
    margin-left: 15%;
  }
  @media (min-width: @screen-md-min) {
    max-width: 780px;
  }
  .quote {
    color: #fff;
  }
}
.about-work {
  .main-page-title {
    color: @purpur-navy-color;
  }
  .article-item {
    position: relative;
    > div {
      padding-left: 43px;
    }
    &:before {
      content: "↓";
      position: absolute;
      left: 8px;
      top: 35px;
      color: #b7b7b7;
      font-size: 26px;
    }
    .main-page-subtitle {
      //counter-reset: list;
      .square-icon;
      &:before {
        //counter-increment: list;
        //content: counter(list);
        font-size: 22px;
        width: 32px;
        height: 32px;
      }
    }
  }
  .btn {
    width: 100%;
    max-width: 320px;
    padding-top: @padding-base-vertical*2;
    padding-bottom: @padding-base-vertical*2;
    font-size: 18px;
  }
}
.about-work-list {
  margin-bottom: 40px;
  .article-item:nth-of-type(1) .main-page-subtitle:before {
    content: "1";
  }
  .article-item:nth-of-type(2) .main-page-subtitle:before {
    content: "2";
  }
  .article-item:nth-of-type(3) .main-page-subtitle:before {
    content: "3";
  }
}
.about-work-end {
  color: @brand-primary;
  font-family: @font-family-raleway-black;
  font-size: 18px;
  text-transform: uppercase;
  margin: -10px 0 20px;
}
.purpur-navy-block {
  background: @purpur-navy-color url(../images/bg-3.jpg) no-repeat center top;
  background-size: cover;
  padding: 30px 20px 40px;
  max-width: 340px;
}
.price-block {
  .purpur-navy-block;
  color: #fff;
  font-size: 14px;
  font-family: @font-family-raleway;
  .main-page-title {
    color: #fff;
    margin-bottom: 15px;
  }
  ol {
    margin: 15px 0;
    font-size: 16px;
    li {
      margin-bottom: 5px;
    }
  }
  a {
    font-size: 16px;
  }
  @media (min-width: @screen-sm-min) {
    margin-top: 70px;
  }
  @media (min-width: @screen-md-min) {
    margin-left: 10%;
  }
}
.blog {
  background: #f1f5f6 url(../images/bg-4.jpg) no-repeat center top;
  background-size: cover;
  .main-page-title {
    color: @purpur-navy-color;
  }
}
.blog-item {
  max-width: 455px;
  margin-bottom: 30px;
}
.blog-head {
  margin-bottom: 15px;
}
.blog-date {
  color: #1d1d1b;
  padding-top: 2px;
}
.blog-link {
  a {
    font-family: @font-family-raleway;
    font-size: 16px;
  }
}/*End Main-Page*/
                                                           /*Business-Page*/
.law-support {
  background: #f6f6f6;
  .main-page-title {
    color: @brand-primary;
  }
}
.law-support-title {
  color: @navy-color;
  font-family: @font-family-raleway;
  font-size: 16px;
  margin-bottom: 10px;
  @media (min-width: @screen-md-min) {
    font-size: 20px;
  }
}
.law-support-list {
  margin-bottom: 30px;
  .list-unstyled;
  li {
    margin-bottom: 10px;
    a {
      color: #1d1d1b;
      font-size: 14px;
      @media (min-width: @screen-md-min) {
        font-size: 16px;
      }
      border-bottom-color: lighten(@text-color, 50%);
      &:hover, &:focus {
        border-bottom-color: lighten(@text-color, 20%);
      }
    }
  }
}
.abonent-support-link {
  color: #fff;
  font-family: @font-family-raleway;
  font-size: 16px;
  > div {
    margin-bottom: 20px;
  }
  .purpur-navy-block;
  .btn {
    width: 100%;
    max-width: 320px;
    padding-top: @padding-base-vertical*2;
    padding-bottom: @padding-base-vertical*2;
    font-size: 18px;
  }
  margin-bottom: 25px;
}
.page-quote {
  background: #f1f5f6 url(../images/bg-4.jpg) no-repeat center top;
  background-size: cover;
  .btn {
    width: 100%;
    @media (min-width: @screen-sm-min) {
      max-width: 240px;
    }
    padding-top: @padding-base-vertical*2;
    padding-bottom: @padding-base-vertical*2;
    font-size: 18px;
  }
}
.quote {
  color: @dark-text-color;
  font-size: 14px;
  @media (min-width: @screen-md-min) {
    font-size: 18px;
  }
  position: relative;
  padding-left: 22px;
  margin-bottom: 30px;
  .square-icon;
}
.page-quote-text {
  max-width: 480px;
  margin: 0 auto;
  @media (min-width: @screen-md-min) {
    max-width: 810px;
  }
}
.page-quote-btn {
  padding: 0 22px;
}/*End Business-Page*/
                                                  /*Person-Page*/
.personal-page {
  .law-support-title {
    @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
      height: 46px;
    }
  }
  .law-support-title {
    @media (min-width: @screen-md-min) {
      margin-bottom: 20px;
    }
  }
}/*End Person-Page*/
                                                  /*Case-List-Page*/
.case-menu {
  .list-unstyled;
  margin-bottom: 20px;
  li {
    a {
      border-bottom-color: #dbdbdb;
      &:hover, &:focus {
        border-bottom-color: darken(#dbdbdb, 12%);
      }
    }
    .btn {
      font-family: @font-family-raleway;
      padding-top: @padding-base-vertical/2;
      padding-bottom: @padding-base-vertical/2;
      &:hover, &:focus {
        color: darken(@btn-info-color, 20%);
        background: #fff;
      }
    }
    &.active {
      .btn {
        color: #fff;
        background: @brand-primary;
        border-color: @brand-primary;
      }
    }
  }
}
.case-inline-menu {
  li {
    display: inline;
    .btn {
      font-size: 13px;
      margin: 0 3px 8px 0;
    }
  }
}
.case-item {
  border: 1px solid #dbdbdb;
  padding: 25px 15px 30px;
  margin-bottom: 12px;
}
.case-head {
  margin-bottom: 15px;
}
.case-date {
  line-height: 1.3;
}
.case-title {
  .main-page-subtitle;
  a {
    color: @navy-color;
    border-bottom: none;
    &:hover, &:focus {
      border-bottom: none;
    }
  }
}
.case-type {
  margin-bottom: 20px;
  .btn {
    color: #9d9d9c;
    background: #f6f6f6;
    font-family: @font-family-raleway;
    font-size: 13px;
    padding-top: @padding-base-vertical/2;
    padding-bottom: @padding-base-vertical/2;
    margin: 0 5px 5px 0;
  }
}
.case-text {
  margin-bottom: 10px;
}
.case-list-preamble {
  max-width: 860px;
  margin-bottom: 30px;
}/*End Case-List-Page*/
                                                    /*Case-List-Item*/
.breadcrumb {
  margin: (@line-height-computed * 1.5) 0 (-@line-height-computed);
  li {
    a {
      color: #706f6f;
      border-bottom-color: lighten(#706f6f, 40%);
      &:hover, &:focus {
        border-bottom-color: lighten(#706f6f, 40%);
      }
    }
  }
}
.case-item-inner-date {
  color: #706f6f;
  margin-top: (-@line-height-computed + 5px);
}
.case-block-menu {
  margin-top: (@line-height-computed * 1.5);
  li {
    margin-bottom: 7px;
    .btn {
      border: none;
      &:hover, &:focus {
        border-bottom: none;
      }
    }
  }
}
.case-inner-item {
  padding-bottom: 40px;
  @media (min-width: @screen-sm-min) {
    padding-bottom: 55px;
  }
  @media (min-width: @screen-md-min) {
    padding-bottom: 70px;
  }
}
.analog-case {
  background: linear-gradient(to bottom, #f6f6f6, #fff 10%);
  padding-top: 40px;
  @media (min-width: @screen-sm-min) {
    padding-top: 55px;
  }
  @media (min-width: @screen-md-min) {
    padding-top: 70px;
  }
}
.analog-case-title {
  color: @brand-primary;
  font-family: @font-family-raleway;
  font-size: 20px;
  margin-bottom: 10px;
  @media (min-width: @screen-md-min) {
    font-size: 24px;
    margin-bottom: 15px;
  }
}/*End Case-List-Item*/
                                                        /*Services*/
.services-nav {
  margin-bottom: 15px;
  @media (min-width: @screen-md-min) {
    margin-bottom: 25px;
  }
  .breadcrumb {
    margin: 0 0 10px;
    > li {
      &:before {
        color: #fff;
      }
      > a {
        color: #fff;
        border-bottom: 1px solid #fff;
      }
    }
  }
}
.services-text {
  background: #f6f6f6;
  .main-page-title {
    color: @brand-primary;
  }
}
.services-order-btn {
  text-align: center;
  margin-bottom: 40px;
  @media (min-width: @screen-md-min) {
    margin-bottom: 60px;
  }
  .btn {
    width: 240px;
    font-size: 18px;
    padding: @padding-base-vertical*2 @padding-base-horizontal*3;
  }
}
.services-page {
  .page-quote-text {
    margin-bottom: 40px;
    @media (min-width: @screen-md-min) {
      margin-bottom: 60px;
    }
  }
  .stages {
    .article-item {
      > div {
        padding-left: 43px;
      }
      .main-page-subtitle {
        .square-icon;
        &:before {
          font-size: 22px;
          width: 32px;
          height: 32px;
        }
      }
    }
    .article-item:nth-of-type(1) .main-page-subtitle:before {
      content: "1";
    }
    .article-item:nth-of-type(2) .main-page-subtitle:before {
      content: "2";
    }
    .article-item:nth-of-type(3) .main-page-subtitle:before {
      content: "3";
    }
    .article-item:nth-of-type(4) .main-page-subtitle:before {
      content: "4";
    }
    .article-item:nth-of-type(5) .main-page-subtitle:before {
      content: "5";
    }
  }
}
.dropdown-menu {
  padding: 120px 0 40px;
  @media (min-width: @screen-md-min) {
    padding: 150px 0 40px;
  }
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0 2px 3px #999;
}
                                                                    /*Services-menu*/
.dropdown-toggle {
  position: relative;
  z-index: 1100;
  &:hover, &:focus {
    background: @brand-primary;
    border-color: @brand-primary;
  }
  i {
    font-size: 20px;
    margin: 0 8px 0 0;
    vertical-align: bottom;
  }
}
.services-menu {
  .list-unstyled;
}
.services-menu-title {
  color: @brand-primary;
  font-family: @font-family-raleway-black;
  font-size: 16px;
  text-transform: uppercase;
  border-bottom: 1px solid #dfb7c2;
  margin-bottom: 15px;
  a, a:hover {
    text-decoration: none;
    border:none;
  }
}
.services-menu-group-title, .services-menu-group-title a, .services-menu-group-title a:hover {
  color: @navy-color;
  font-family: @font-family-raleway;
  font-size: 18px;
  margin-bottom: 5px;
  border:none;
  text-decoration: none;
}
.services-menu-group {
  margin-bottom: 25px;
  > ul {
    .list-unstyled;
    li {
      margin-bottom: 10px;
      a {
        color: @dark-text-color;
        font-family: @font-family-raleway;
        border-bottom: 1px solid lighten(@dark-text-color, 70%);
      }
    }
    .active {
      a {
        border:none;
        font-weight: bold;
      }
    }
  }
}/*Services-menu End*/
/*Services End*/

.development-link {
  font-size: 12px;
  text-align: right;
  margin-top: 4px;
  a {
    color:#555555;
    text-decoration: underline;
  }
}

.contacts-content {
  .tel {
    a {
      font-size: 24px;
      border: none;
    }
  }
  .address {
    font-size: 18px;
  }
}

.modal-content {
  padding:15px 35px 35px 35px;
  .help-block {
    color:#000000;
    margin-bottom: 20px;
  }
}
.modal-title {
  .h1;
}
.modal-header {
  border: none;
  padding:0 0 15px 0;
}
.case-type {
  a.btn {
    border-bottom: none;
  }
}
                                                          /*Price page*/
.price-page-content {
  max-width: 840px;
}
.price-preamble {
  a {
    color: @text-color;
    border-bottom: none;
    &:hover, &:focus {
      border-bottom: none;
    }
  }
}
.border-title {
  border-bottom: 1px solid #c6c5ca;
  padding-bottom: 7px;
}
.remark:after {
  content: "*";
}
.price-list {
  margin: 0 0 10px;
  dt {
    font-weight: 400;
    @media (min-width: @screen-sm-min) {
      border-bottom: 1px solid #f2f2f2;
      padding-bottom: 10px;
    }
  }
  dd {
    font-weight: 700;
    border-bottom: 1px solid #f2f2f2;
    padding-bottom: 10px;
    margin-bottom: 10px;
    @media (min-width: @screen-sm-min) {
      text-align: right;
    }
  }
}
.remark-text {
  color: #9d9d9c;
  font-size: 14px;
}
.price-group {
  h3 {
    color: @brand-primary;
    text-transform: uppercase;
    span {
      cursor: pointer;
      border-bottom: 1px dashed lighten(@brand-primary, 55%);
      position: relative;
      &:after {
        content: "";
        width: 12px;
        height: 4px;
        position: absolute;
        top: 6px;
        left: 100%;
        margin-left: 5px;
      }
    }
    &.arrow-close {
      span {
        &:after {
          background: url(../images/close.png) no-repeat right top;
        }
      }
    }
    &.arrow-open {
      span {
        &:after {
          background: url(../images/open.png) no-repeat right top;
        }
      }
    }
  }
}
/*Price page end*/